{% extends "base.html" %}
{% load thumbnail %}
{% load i18n localeurl_tags %}

{% block title %} {{ situacion|upper }} {% endblock %}

{% block content %}


<div class="row" id="contendor-central">

<section>

	<header class="small-12 columns">
		<h4>{{ situacion|upper }}</h4>
	</header>
	
	<article class="small-6 columns">
		<form action="{% url 'usuarios-busqueda' %}" method="POST" id="form_usuarios">
		{% csrf_token %}
			<ul class="side-nav">
				{{ form.as_ul }}
				<li><input type="submit" value="{% trans 'Buscar usuario' %}" class="tiny success button"/></li>
			</ul>
		</form>
	</article>
	
	<article class="small-6 columns">
		
	</article>


</section>

</div> <!--Fin contendor-central-->


{% endblock %}


