{% extends "base.html" %}
{% load i18n localeurl_tags %}


{% block title %}{% trans "Busqueda de actividades" %} {% endblock %}

{% block content %}

{% include "actividades/form_busqueda.html" %}

<div class="row" id="contendor-central">

<section id="listado">
{% if busqueda_qs %}
	<header class="small-12 columns">
		{% trans "Hemos encontrado estos resultados para tu búsqueda." %}
	</header>
		{% for actividad in n_paginas.object_list %}
			{% ifchanged %}
				{% if user.is_authenticated %}
					{% include "actividades/listado_1.html" %}
				{% else %}
					{% include "actividades/listado_3.html" %}
				{% endif %}
			{% endifchanged %}
		{% endfor %}
		
		<div id="cargando-paginas" class="pelotica-invisible"></div>
				
	{% else %}
		<header  class="small-12 columns">
			<div class="panel">{% trans "Tu búsqueda no da ningún resultado" %}</div>
		</header>
	{% endif %}
</section>

</div> <!--Fin contendor-central-->



<script type="text/javascript">
	// Variables globales de scroll
	{% if n_paginas.object_list and n_paginas.paginator.num_pages > 1 %}
		var page = {{ n_paginas.number }}; // The latest page loaded
		var n_paginas = {{ n_paginas.paginator.num_pages }};
	{% else %}
		var page = 1;
		var n_paginas = 1;
	{% endif %}
	
	var loadOnScroll = function() {
//  		if($(window).scrollTop() == $(document).height() - $(window).height()){
//  			if ($(window).scrollTop() > $(document).height() - ($(window).height()*2)) {
			if ($(window).scrollTop() > $(document).height() - ($(window).height()*1.2)) {
			// temporarily unhook the scroll event watcher so we don't call a bunch of times in a row
 			$(window).unbind();
			// execute the load function below 
			cargar_paginas();
// 			alert('Funciona');
		}
	};

	var cargar_paginas = function() {
		page = page + 1;
		if (page > n_paginas) {
// 				alert(page)
			return false
		} else {
// 			alert(page + ' >>')
			$('#cargando-paginas').removeClass("pelotica-invisible").addClass("pelotica-visible");
			$.ajax({
				url: "{% url 'actividad-busqueda' %}?page=" + page,
				success: function(html)	{
					if(html){
						$("#listado").append(html);
 						$('#cargando-paginas').removeClass("pelotica-visible").addClass("pelotica-invisible");
// 						$('#cargando-paginas').show(1000);
					}else{
						$('#cargando-paginas').html('<center>No hay más favoritos..</center>');
					}
				},
				complete: function(data, textStatus){
					// Turn the scroll monitor back on
					$(window).bind('scroll', loadOnScroll);
				}
			});
		}
	};

</script>


{% endblock %}



