{% load thumbnail %}
{% load i18n localeurl_tags %}


<div class="small-12 columns listado">

	<div class="small-6 columns"> 
		<h4><a href="{{ actividad.get_absolute_url }}" title="{{ actividad.actividad }}">{{ actividad.actividad }}</a> ({{ actividad.tipo }})</h4>
		<ul class="clearing-thumbs" data-clearing>
		{% for i in actividad.fotos_actividad.all %}
			<li><a class="th" href="{{ MEDIA_URL }}{{ i.foto }}">
				{% thumbnail i.foto "80x80" as im %}
				<img src="{{ im.url }}" alt="{{ i.url }}" width="{{ im.width }}" height="{{ im.height }}"/>{% if not forloop.last %}&nbsp;{% endif %}
				{% endthumbnail %}
				</a>
			</li>
		{% endfor %}
		</ul>
	</div>

	<div class="small-3 columns"> 
	
	<span class="round regular label"><h6>{{ actividad.precio_moneda_social }} {{ actividad.monedas }}</h6></span></br></br>
	<span class="round secondary label">
		{% trans "Publicado en:" %}
		{% for grupo in actividad.grupo.all %}
			{{ grupo }}{% if not forloop.last %},{% endif %}
		{% endfor %}
	</span>

	</div>

	<div class="small-3 columns"> 
		{% if actividad.tags %}
		<div>{% trans "Etiquetas: " %}
			{% for tag in actividad.tags %}
			<a href="{% url 'actividad-tag' tag %}" title="{{ tag }}">{{ tag }}</a> {% if not forloop.last %}, {% endif %}
			{%endfor%}
		</div>
		{% endif %}
		{% if actividad.categoria %}
		<div>{% trans "Categoria: " %} 
			<a href="{% url 'actividad-categoria' actividad.categoria.pk %}">
			{{ actividad.categoria }}</a>
		</div>
		{% endif %}
		<div>{% trans "Idiomas: " %}
			{% for item in actividad.idiomas_disponibles %}
				<a href="{{ item.get_absolute_url|chlocale:item.idioma }}">{{ item.idioma }}</a>{% if not forloop.last %} | {% endif %}
			{% endfor %}
		</div>
		<div>{% trans 'Creado hace' %} {{ actividad.creado|timesince }}</div>

	</div>

	<div class="small-12 columns olgado">{{ actividad.intro }}</div>

</div>



