{% load i18n localeurl_tags thumbnail %}

	<table>
		<tr>
			<td>{% trans "Grupo" %}</td>
			<td>{% trans "Provincia" %}</td>
			<td>{% trans "Población" %}</td>
			<td>{% trans "Miembros" %}</td>
			<td>{% trans "Admins" %}</td>
			<td>{% trans "Actividades" %}</td>
			<td>{% trans "Nº Op." %}</td>
			<td>{% trans "Op. últ. mes" %}</td>
			<td>{% trans "Creado hace" %}</td>
			<td>{% trans "Acciones" %}</td>
		</tr>
		{% for item in info_grupos %}
		<tr>
			<td>
				{% if item.logo %}<img src='{% thumbnail item.logo "24x24" crop="center" as im %}{{ im.url }}{% endthumbnail %}'>{% endif %}
				<a href="{% url 'portada-grupo' item.simbolo item.nombre|slugify %}" title="{{ item.nombre }}">{{ item }}</a>
			</td>
			<td>{{ item.provincia }}</td>
			<td>{{ item.poblacion }}</td>
			<td>{{ item.n_miembros }}</td>
			<td><a href="{% url 'grupos-get-admins' item.pk %}" title='{% trans "Ver los administradores" %}'>{{ item.n_admin }}</a></td>
			<td>{{ item.n_actividades }}</td>
			<td>{{ item.n_operaciones }}</td>
			<td>{{ item.op_ultimo_mes }}</td>
			<td>{{ item.creado|timesince }}</td>
			<td>
				<a href="{% url 'portada-grupo' item.simbolo item.nombre|slugify %}" title="{{ item.nombre }}"  class="button tiny small">Web</a>
				<a href="{% url 'grupos-estadisticas' item.pk %}" title="{% trans 'Estadísticas del grupo' %}"  class="button tiny small">{% trans "Estadísticas" %}</a>
				{% if not item in request.datos.mis_grupos %}
				<a href="{% url 'grupos-solicitud-miembro' item.pk %}" class="button tiny small">{% trans "Unirme" %}</a>
				{% endif %}
			</td>
		</tr>
		{% empty %}
		<tr>
			<td colspan="12">{% trans "No existen grupos activos" %}</td>
		</tr>
		{% endfor %}
	</table>